:plain
  $('#treatments_container').html('#{j render partial: 'personal_profiles/treatments'}');
  $('#tags-treatments').tagsinput('removeAll');
  $('.treatments-submit').text('Add').prop('disabled', false);
  init_treatments_select2();
  var errors = "#{@errors}";
  if (errors){
    $.bootstrapGrowl(errors, {
      type: 'error',
      offset: {from: 'top', amount: 80}
    });
  }
  $(".medical-treatments-table").trigger('update');
  $('body').trigger('init_treatment_toggles');