:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); 
  ga('create', 'UA-41319207-1', 'healclick.com'); 
  ga('require', 'displayfeatures');
  if (getQueryVariable("utm_source")){
    ga('set', 'dimension5', getQueryVariable("utm_source"));
  }
- if current_user
  :javascript
    ga('set', 'dimension1', 'registereduser');
- if params[:action] == 'select_main_condition' && !current_user.finished_profile?
  :javascript
    ga('set', 'dimension2', 'newlyregistereduser');
    var today = new Date();
    var weekno = today.getWeek();
    ga('set', 'dimension3', weekno);
- if params[:action] == 'basic_info' && params[:commit] == 'Continue'
  :javascript
    ga('set', 'dimension4', '#{current_user.main_condition.try(:name)}');
- if params[:signed_in].present?
  :javascript
    ga('set', 'dimension6', '#{current_user.main_condition.try(:name)}');
:javascript
  ga('send', 'pageview');
