%ul.terms-privacy
  %li
    %a{href: "https://docs.google.com/document/d/1YjfRm1MOj9E7ALit5LKdXZF1vxgX4v1nwy9XSec8EMA/pub", target: "_blank"}
      FAQs
  %li
    %a{href: "http://blog.healclick.com/", target: "_blank"}
      Blog
  %li
    %a{href: "http://healclick.freshdesk.com/solution/categories/113952/folders/263095/articles/176736-term-of-use", target: "_blank"}
      Terms
  %li
    %a{href: "http://healclick.freshdesk.com/solution/categories/113952/folders/263095/articles/176732-privacy-policy", target: "_blank"}
      Privacy
  .copyright
    © HealClick All Rights Reserved.