= javascript_include_tag "//healclick.freshdesk.com/widget/freshwidget.js"
:css
  @import url(//healclick.freshdesk.com/widget/freshwidget.css);
:javascript
  FreshWidget.init("", {"queryString": "&submitThanks=Thanks+for+your+feedback!++Someone+on+our+team+will+get+back+to+you+shortly.", "buttonText": "Support", "buttonColor": "black", "buttonBg": "#FFFCFD", "alignment": "3", "offset": "10px", "url": "//healclick.freshdesk.com", "assetUrl": "//healclick.freshdesk.com/widget"} );