/ .nav.nav-tabs
/   %li{class: profile_tab_class('basic_info')}= link_to 'Basic Info & Conditions', basic_info_personal_profile_path
/   %li{class: profile_tab_class('symptoms')}= link_to 'Symptoms', symptoms_personal_profile_path
/   %li{class: profile_tab_class('treatments')}= link_to 'Treatments', treatments_personal_profile_path