:plain
  $('#treatments_container').append('#{j render(partial: "reviews/summaries_batch")}');
  $('.loading_container').hide();
- if params[:from_sidebar].present?
  :plain
    $('#posts_container').html('#{j render(partial: "reviews/summaries_batch")}');
    $('.sorting-container .form-inline').hide();